* {
  margin: 0;
  padding: 0;
}

body {
  color: #335c67;
}

img {
  display: block;
}

a {
  color: #335c67a2;
}

a:hover {
  color: #f00;
}

#introduction,
footer {
  font-size: 25px;
}

/* logo and nav */
header img {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
}

header p {
  font-size: 18px;
  text-align: center;
  background: #fff3b0;
  border-top: 2px solid #e09f3e;
  padding: 15px;
}

header p span {
  text-transform: uppercase;
  font-weight: bold;
}

/* introduction */
main {
  padding: 0 20%;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 4em;
}

#introduction {
  padding: 1.5em 0 1em;
  text-align: justify;
}

/* introduction img */
#introduction-img img {
  margin: 0 auto;
  width: 60%;
  min-width: 483px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #b5b5b5;
}

#introduction-img p {
  font-size: 20px;
  text-align: center;
  padding: 20px 0 40px;
  color: #335c67a2;
}

/* feature */
#feature {
  border-left: 2px solid #e09f3e;
  padding-left: 20px;
}

#feature h3,
#feature h4 {
  font-size: 21px;
}

#feature h3 {
  text-transform: uppercase;
  color: #f00;
}

#feature h4 {
  text-transform: capitalize;
  margin-bottom: 70px;
}

/* ingredients */
h2 {
  border-bottom: 2px solid #b5b5b5;
  padding-bottom: 25px;
  margin: 30px 0;
  font-size: 40px;
}

.list {
  padding-bottom: 30px;
  font-size: 23px;
}

.list h4 {
  padding-bottom: 5px;
}

.list li {
  padding: 7px 0;
  margin-left: 50px;
}

/* footer */
footer {
  padding: 0 20% 30px;
}
