body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.container-card {
  width: 510px;
  position: relative;
}

.container-card img {
  width: 100%;
  border-radius: 50px;
}

.save-btn {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  padding: 30px 35px;
  border: none;
  background: #ff0000;
  border-radius: 50px;
  position: absolute;
  right: 40px;
  top: -50%;
  transition: top 150ms ease;
}

.bottom-btns button {
  position: absolute;
  bottom: -50%;
  transition: 150ms ease;
}

.bottom-btns button:first-child {
  left: 10px;
}

.bottom-btns button:nth-child(2) {
  left: 310px;
}

.bottom-btns button:last-child {
  left: 400px;
}

.bottom-btns button {
  border: none;
  font-size: 28px;
  font-weight: bold;
  margin: 0 15px;
}

.bottom-btns button:first-child {
  border-radius: 50px;
  padding: 20px 40px;
}

.bottom-btns button:not(:first-child) {
  border-radius: 50%;
  padding: 20px 23px;
}

.container-card:hover img {
  filter: brightness(0.6);
}

.container-card:hover button {
  cursor: pointer;
}

.save-btn:active {
  background: #c01515;
}

.bottom-btns button:active {
  background: #9e9e9e;
}

.container-card:hover .save-btn {
  top: 20px;
}

.save-btn:hover {
  margin-top: 10px;
  transition: 250ms;
}

.container-card:hover .bottom-btns button {
  bottom: 40px;
}

.bottom-btns button:hover {
  margin-bottom: 10px;
  transition: 250ms;
}
